@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Heebo:wght@400;500;700;900&display=swap');

:root {
  --primaryColor: #55ff00;
  --primaryColor: #55ff00;
  /*--primaryColor: #ff0000; */
  --primaryDarkColor: #000000;
  --baseColor: #55ff00;
  --baseFont: rockwell, rockwell;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --dkBg: #000000;
  --transparent: transparent;
  --textColor : #000000;
  --btntextColor : #000000;
  --btnoutColor : #000000;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  font-family: var(--baseFont);
  color: var(--textColor);
  background-color: var(--dkBg); 
}

#main-section {
  overflow: hidden;
}


ul, a, .btn {
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
  color: var(--baseColor);
  
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 1px 0px 5px var(--primaryColor);

}

a:hover {
  color: var(--primaryColor);
  box-shadow: 5px 0px 10px 10px var(--baseColor);
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn {
  font-family: var(--baseFont);
  font-size: 20px;
  font-weight: var(--medium);
  padding: 8px 20px;
  border-radius: 2px;
}

.btnPrimary {
  box-shadow: 5px 0px 10px var(--baseColor);
  background-color: var(--primaryColor);
  color: var(--btntextColor);
}

.btnPrimary:hover {
  background-color: var(--baseColor);
  color: var(--btntextColor);
  box-shadow: 5px 0px 10px 10px var(--primaryColor);
}

.btnOutline {
  color: 5px var(--primaryColor);
}

.btnOutline:hover {
  border: 5px solid var(--primaryColor);
  background-color: var(--primaryColor);
  color: var(--primaryColor);
}

.xlTitle, .lgTitle, .mdTitle, .smTitle, .xsTitle, .regular, .medium, .bold, .black {
  font-family: var(--baseFont);
}

.xlTitle {
  font-size: 150px;
  font-weight: var(--bold);
}

.lgTitle {
  font-size: 75px;
  font-weight: var(--bold);
}

.mdTitle {
  font-size: 26px;
  font-weight: var(--bold);
}

.smTitle, .smText {
  font-size: 22px;
  font-weight: var(--regular);
}

.xsTitle {
  font-size: 18px;
}

.regular {
  font-weight: var(--regular);
}

.medium {
  font-weight: var(--medium);
}

.bold {
  font-weight: var(--bold);
}

.black {
  font-weight: var(--black);
}

/* Header */
.headerCol {
  font-size: 50px;
  font-family: var(--baseFont);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out 0s;
  position: fixed;
  }

  

  /*navbar*/

  .nav-items {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 25px;
    height: 35px;
  }
  
  .nav-items img {
    width: 35px;
    height: 35px;
  }


  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  
  
  .navbar a {
    display: inline-block;
    box-shadow: 4px 0px 5px var(--primaryColor);
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%; /* add border radius */
  }
  
  .navbar a:hover {
    background-color: var(--transparent);
    box-shadow: 5px 0px 10px 5px var(--baseColor);
    box-sizing: border-box;
    border-radius: 50%; /* add border radius */
  }
  

  
/*banner*/
        
        
        .bannerSection {
          background-color: var(--transparent); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        text-shadow: white 0px 0px 5px, 1px 1px 30px var(--primaryColor);
        text-decoration-line: underline;
        }
        .bannerUserImg {
          margin-left: 20px;
          width: 220px;
          height: 220px;
          border-radius: 50%;
          box-shadow: 5px 0px 10px var(--primaryColor);
          border-radius: 50%;
        }





@media (max-width:991px) {
  .xlTitle {
    font-size: 95px;
  }
  .lgTitle {
    font-size: 50px;
    margin-top: -20px;
  }
  .mdTitle {
    font-size: 20px;
  }
  .btnPrimary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }


  
}

@media (max-width: 767px) {
  
  .xlTitle {
    font-size: 95px;
  }
  .lgTitle {
    font-size: 50px;
    margin-top: -20px;
  }
  .mdTitle {
    font-size: 20px;
  }
  .btnPrimary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

}

@media(max-width:575px) {

  .xlTitle {
    font-size: 95px;
  }
  .lgTitle {
    font-size: 50px;
    margin-top: -20px;
  }
  .mdTitle {
    font-size: 20px;
  }
  .btnPrimary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0
}