{% load static %}
<div class="navbar">
    <ul class="nav-items">
        <li class="navimage"><a href="{%url 'main:home'%}" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'images/home.jpg' %}" alt="Home"></a></li>
        <li class="navimage"><a href="https://github.com/jckail" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'images/github.jpg' %}" alt="GitHub"></a></li>
        <li class="navimage"><a href="https://www.linkedin.com/in/jordan-kail-51889650/" target="_blank"
                rel="noopener noreferrer"><img src="{% static 'images/linkedin.jpg' %}" alt="LinkedIn"></a>
        </li>
    </ul>
</div>