{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<section>
  <div class="bannerSection">
    <div class="container bannerContainer">
      <div class="row g-4 g-md-3 align-items-center text-center">
        <div class="col-md-auto order-md-last"></div>
        <div class="col-md">
          <div class="bannerContent">
            <h1 class="xlTitle">Got Data?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bannerSection">
    <div class="container bannerContainer">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{% static 'images/avatar.jpeg' %}" alt="{{me.first_name|title}} {{me.last_name|title}} avatar">
          </div>
        </div>
        <div class="col-md">
          <div class="bannerContent">
            <h1 class="lgTitle">I can help!</h1>
            <div class="bannerBtnCol d-flex align-items-center">
              <a download href="{% static 'files/JordanKailResume.pdf' %}" class="btn btnPrimary">Download
                Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="sectionSpace">
    <div class="container">
      <div class="portfolioCol">
        <div class="row pb-3">
          <div class="col">
            <a href="{% url 'main:portfolios' %}" target="_blank" rel="noopener noreferrer" class="simpleLink">
              <h4 class="lgTitle">Portfolio</h4>
            </a>
          </div>
        </div>
        {% for p in portfolio %}
        {% if p.is_active %}
        <div class="portfolioCard">
          <div class="row g-4 align-items-center">
            <div class="col-md-auto">
              <div class="portfolioImgCol">
                <a href="{% url 'main:portfolio' slug=p.slug %}"><img src="{{p.image.url}}" alt="..."></a>
              </div>
            </div>
            <div class="col-md">
              <div class="portfolioContentCol">
                <h4 class="lgTitle"><a href="{% url 'main:portfolio' slug=p.slug %}">{{p.name}}</a></h4>
                <ul class="portfolioOption">
                  <li><span class="dateLbl">{{p.date.year}}</span></li>
                </ul>
                <p>{{p.description}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->
{% endblock %}